#name-container,
#greeting-container {
    font-size: 6vh;
    font-weight: 800;
}

#name-container input[type=text] {
    font-size: 4vh; 
    width: 80%;
    margin: auto;
    padding: 5px 10px;
    text-align: center;
}
