#search {
    margin: 1%;
    display: flex;
    font-size: 2.5vh;
}

#search i {
    font-size: 2.6vh;
}

#search-toggle-container {
    margin: 0 1%;
}

#search-toggle-container input {
    width: 150%;
}

.search-toggle {
    display: none;
}