#todo-section {
    display: flex;
    margin-right: 5%;
    flex-direction: column-reverse;
}

#todo-title {
    display: flex;
    margin: 0 1%;
    padding: 2.5%;
    justify-content: flex-end;
}

#todo-toggle-container {
    background-color: #23232381;
    padding: 5%;
    margin: 0 2.5%;
    border-radius: 10px;
}

.todo-toggle {
    display: none;
}

#todo-input-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
}

#todo-input-container input {
    height: 100%;
    width: 83%;
    padding: 5px 10px;
    outline: none;
    color: white;
    margin: 0;
}

.todo-list li {
    padding: 2%;
    display: flex;
}

.todo-list span {
    padding: 8px;
}