@media screen and (orientation: portrait) {
  body #middle-section {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  body #clock {
    font-size: 9vh;
  }
  body #greeting-container {
    font-size: 5vh;
    padding-top: 20px;
  }
  body #focus-container {
    padding-top: 20px;
  }
  body #search {
    margin: 2% 3%;
  }
  body #bottom-section {
    margin: 0 2%;
  }
  body #quote-container,
body #todo-title button {
    font-size: 1.7vh;
  }
  body #todo-input-container {
    padding-bottom: 0;
  }
  body .todo-list span {
    font-size: 2vh;
  }
  body #quote-menu i {
    font-size: 2vh;
  }
  body .todo-container button {
    font-size: 1.6vh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  color: white;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  outline: none;
  color: white;
}

input::-moz-placeholder {
  color: #aaaaaa;
}

input:-ms-input-placeholder {
  color: #aaaaaa;
}

input::placeholder {
  color: #aaaaaa;
}

@-webkit-keyframes opacity-fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity-fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity-fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
#quote-menu {
  padding: 2%;
  position: absolute;
  background: rgba(35, 35, 35, 0.5058823529);
  left: 5%;
  bottom: -20%;
  width: 58px;
  height: auto;
  border-radius: 20%;
  z-index: 9;
  transform: scale(0);
  transition: transform 0.3s ease;
  transform-origin: bottom left;
}

#quote-section i {
  font-size: 3vh;
}

#quote-section:hover #quote-menu {
  transform: scale(1);
}

#quote-menu li {
  list-style-type: none;
  padding: 20%;
  border-radius: 18%;
  width: 100%;
  text-align: center;
}

#quote-menu li:hover {
  background: rgba(71, 71, 71, 0.5058823529);
}

.toggle {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.todo-container button {
  border: none;
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  font-size: 2vh;
}

.todo-container button:hover {
  background-color: rgba(71, 71, 71, 0.5058823529);
}

#middle-section {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
}

#bottom-section {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: end;
  height: 93vh;
  padding-bottom: 1%;
  font-size: 2.5vh;
}

#search {
  margin: 1%;
  display: flex;
  font-size: 2.5vh;
}

#search i {
  font-size: 2.6vh;
}

#search-toggle-container {
  margin: 0 1%;
}

#search-toggle-container input {
  width: 150%;
}

.search-toggle {
  display: none;
}

#clock {
  font-size: 15vh;
  font-weight: 900;
  padding-bottom: 2%;
}

#name-container,
#greeting-container {
  font-size: 6vh;
  font-weight: 800;
}

#name-container input[type=text] {
  font-size: 4vh;
  width: 80%;
  margin: auto;
  padding: 5px 10px;
  text-align: center;
}

#focus-container {
  font-size: 3vh;
  font-weight: 500;
  padding-top: 35px;
}

#focus-container input,
#focus-value {
  font-size: 2vh;
}

#focus-container input {
  width: 80%;
  margin: auto;
  padding: 5px 10px;
  text-align: center;
}

#focus-value {
  padding: 4px;
}

#quote-section {
  margin: 2% 5%;
  cursor: pointer;
  position: relative;
}

#quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#quote-container span,
#quote-container p {
  padding: 0.5%;
  text-align: center;
  font-size: 2vh;
}

#quote {
  font-style: italic;
  position: relative;
}

#author {
  display: none;
}

#quote-container input[type=text] {
  width: 72%;
  margin: 5px;
  padding: 2px;
  text-align: center;
  display: none;
}

#todo-section {
  display: flex;
  margin-right: 5%;
  flex-direction: column-reverse;
}

#todo-title {
  display: flex;
  margin: 0 1%;
  padding: 2.5%;
  justify-content: flex-end;
}

#todo-title button {
  font-size: 2vh;
}

#todo-toggle-container {
  background-color: rgba(35, 35, 35, 0.5058823529);
  padding: 5%;
  margin: 0 2.5%;
  border-radius: 10px;
}

.todo-toggle {
  display: none;
}

#todo-input-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;
}

#todo-input-container input {
  height: 100%;
  width: 83%;
  padding: 5px 10px;
  outline: none;
  color: white;
  margin: 0;
}

.todo-list li {
  padding: 2%;
  display: flex;
}

.todo-list span {
  padding: 8px;
  font-size: 2vh;
}/*# sourceMappingURL=styles.css.map */