@media screen and (orientation: portrait) {
    
    body #middle-section {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    body #clock {
        font-size: 9vh;
    }

    body #greeting-container {
        font-size: 5vh;
        padding-top: 20px;
    }

    body #focus-container {
        padding-top: 20px;
    }

    body #search {
        margin: 2% 3%;
    }

    body #bottom-section {
        margin: 0 2%;
    }

    body #quote-container,
    body #todo-title button {
        font-size: 1.7vh;
    }

    body #todo-input-container {
        padding-bottom: 0;
    }

    body .todo-list span {
        font-size: 1.3vh;
    }

    body #quote-menu i {
        font-size: 2vh;
    }

    body .todo-container button {
        font-size: 1.6vh;
    }

}